/* Base Style */
body,
body::before,
body::after,
body *,
body *::before,
body *::after {
  box-sizing: border-box;
}

[class] {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  font: inherit;
  font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto,
    "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR",
    "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    sans-serif;
  background-color: #fff;
}
