@import url("./reset.css");
@import url("./nomalize.css");
@import url("./base.css");
@import url("./a11y.css");

/* 공통 */
.common {
  width: 1050px;
  margin: 0 auto;
}

/* 헤더 */
.header {
  height: 125px;
  background: Pink;
}

/* 네비게이션 */
.navigation {
  background: DeepSkyBlue;
  height: 72px;
}

/* 베너 */
.swiper {
  height: 370px;
  /* background: Gold; */
  margin : 0 auto;
  /* max-height: 90vh; */
  max-width: 1920px;
  min-width: 1050px;
  position: relative;
  margin-bottom: 1rem;
  background-color: pink;
}

.swiper-wrapper{
  height:100%;
    /* 색보려고 줄임 */

  background-color: salmon;
}

.swiper .swiper-slide{
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.swiper .swiper-slide img{
  /* width: 100%; */
  height:100%;
  /* 색보려고 줄임, 오버플로우를 허용하고 max */
}

.swiper-buttton-next{
  background:url(/) no-repeat;
  background-size: 50% auto;
  background-position: center;
}

/* https://jineecode.tistory.com/77 swiper button


/* 메인 */
.main {
  height: 1421px;
  background: PowderBlue;
}

/* 푸터 */
.footer {
  height: 629px;
  background: beige;
}
