* {
  list-style: none;
}

/* 공통 */
.common {
  width: 1050px;
  margin: 0 auto;
}

.header {
  min-width: 1050px;
  margin: 3.25rem auto;
  position: relative;
}

/* 네비게이션 Start  */

.navigation {
  letter-spacing: -0.3px;
  background-color: var(--white);
  position: sticky;
  top: 0;
  box-shadow: rgb(0 0 0 / 7%) 0px 3px 4px 0px;
  width: 100%;
  z-index: 10;
}

.nav-box {
  height: 72px;
  min-width: 1050px;
  width: 50%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: var(--spacing-base) 0px;
  margin: 0 auto;
  cursor: pointer;
  display: flex;
}

.nav-toggle-btn {
  background: transparent;
  border: none;
  padding: 1.7rem 0;
}

.button--burger:focus {
  outline-offset: 3px;
}

.button--burger {
  transform: translateY(1.2px);
  margin-right: var(--spacing-xxs);
}

.category__txt:hover {
  color: var(--primary);
}

/* 하위 메뉴 */
.nav-sub-menu {
  position: absolute;
  flex-flow: column nowrap;
  background: var(--white);
  font-size: var(--text-xs);
  border: 1px solid var(--gray-100);
  margin-top: -1px;
}

.nav-sub-menu a {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  padding: 9px;
  gap: 7px;
  font-weight: 600;
}
.nav-sub-menu li:hover {
  background-color: var(--gray-100);
  color: var(--primary);
}
.menu__list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-menu__item {
  text-align: center;
}
.menu__link {
  color: var(--content);
  cursor: pointer;
  font-weight: 500;
}
.menu__link:hover {
  color: var(--primary);
  border-bottom: 1px solid var(--gray-400);
}
.menu__link:focus {
  outline-offset: 3px;
}

/* 배송안내 버튼 */
.notice-btn {
  padding: 4px 8px;
  border-radius: 18px;
  border: 1px solid var(--gray-100);
  color: var(--gray-400);
  font-size: 12px;
  font-weight: 500;
  letter-spacing: -0.32px;
  background: var(--white);
  cursor: pointer;
}
.notice__text {
  color: #5f0080;
  font-weight: 400;
  font-size: var(--text-xs);
  line-height: var(--spacing-base);
}
/* 네비게이션 End  */
