.main {
  width: 1050px;
  margin-top: 50px;
  margin-bottom: 60px;
  background-color: rgb(255, 255, 255);
}

/* 로그인 */

.login-main {
  min-width: 1050px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 70px;
  gap: 30px;
}

.login__section {
  height: 350px;
  width: 340px;
  letter-spacing: -0.6px;
}

#login-form {
  display: flex;
  flex-direction: column;
  width: 340px;
  height: 291px;
}

.login--title {
  margin-top: 80px;
  margin-bottom: 44px;
  font-weight: 800;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  letter-spacing: -1px;
  color: var(--black);
}

.input__box {
  display: flex;
  flex-flow: column;
}

#login-form fieldset {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 0px;
  gap: 12px;
  height: 140px;
}

.login--input {
  width: 340px;
  height: 50px;
  padding: 0px 20px;
  border: 1px solid var(--gray-200);
  border-radius: 3px;
  font-size: var(--text-sm);
}

.login--search {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
  font-size: 13px;
}

.login--search li {
  margin-bottom: 10px;
}

.login--search a {
  padding: 10px;
}

.id--check::after {
  content: "|";
  float: right;
  color: var(--gray-200);
  margin-right: -2px;
}

.button-box {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.login--button {
  width: 340px;
  height: 54px;
  display: block;
  font-size: var(--text-base);
  margin-left: auto;
  margin-right: auto;
  color: var(--white);
  background-color: var(--primary);
  border: none;
  border: 1px solid var(--primary);
  border-radius: 4px;
}

.register--button {
  width: 340px;
  height: 54px;
  display: block;
  font-size: var(--text-base);
  margin-top: 12px;
  margin-bottom: 12px;
  margin-left: auto;
  margin-right: auto;
  color: var(--primary);
  background-color: var(--white);
  border: none;
  border: 1px solid var(--primary);
  border-radius: 4px;
}
