@import url(./reset.css);
@import url(./nomalize.css);
@import url(./base.css);
@import url(./a11y.css);

* {
    list-style: none;
}

/* 공통 */
.common {
    width: 1050px;
    margin: 0 auto;
}


/* 헤더 */
.header {
    height: 125px;
    background: Pink;
}

/* 네비게이션 */
.navigation {
    background: DeepSkyBlue;
    height: 72px;
}






/* product list */

.bestTitle{
margin-bottom: 48px;
    font-weight: 600;
    font-size: 22px;
    color: rgb(51, 51, 51);
    /* line-height: 35px; */
    margin-top : 50px;
    text-align: center;
}


.main {
width:783px; 
/* width삭제하면 안됨 */
    /* background: rgb(239, 253, 255); */
   
}




/* 아코디언 메뉴부분 */


.accordion{
    position: sticky;
    width: 220px;
   float:left;
    flex-shrink: 0;
    height: 100%;
    max-height: calc(100vh - 120px);
    top: 80px;
    margin-right: 47px;
     margin-left:200px;
}

.content button{
    border:none;
    background-color: transparent;
}

.accordion .filter{
    border-bottom:1px solid #c4c4c4;
    padding-bottom:20px;
    font-size:16px;
    font-weight: 600;
    position:relative;
}

.filter:after{
    content:"초기화";
    margin-left:20px;
    color:#a6a6a6;
    font-size:10px;
    font-weight: 600;
    position:absolute;
    right:0;
    top:8%;
}

.collapsible {
    background-color: white;
    color: black;
    cursor: pointer;
    padding: 0px;
    height:52px;
    width: 100%;
    border: none;
    text-align: left;
  
    font-size: 15px;
    border-bottom: 1px solid #c4c4c4;
    position:relative;
   
    
}


.active,
.collapsible:hover {
    background-color: white;
}


.brand{
    font-size:16px;
    font-weight: 600;

}


.content {
    padding: 0;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    /* background-color: peru; */
    border:none;

margin-top:10px;
display:flex;
flex-direction: column;
    
}
.collapsible:after {
    content:url("../../assets/mainImg/Vector.svg");
    color: white;
    font-weight: bold;
    float: right;
    margin-left: 5px;
   position:absolute;
   right:0;
   top:30%;
}


.content li{
    margin-bottom:10px;
    font-size:16px;
    font-weight: 400;
   display: flex;
   align-items: center;
}



.content li span:last-child{
   
    font-size:12px;
    color:#a6a6a6;
    font-weight:400;
}

.active:after {
    content:url("../../assets/mainImg/close.svg");
}


.more:after{
    content:url("../../assets/mainImg/more.svg");
    margin-left:5px;
}

.content .more{
align-items: center;
justify-content: center;
color:#a6a6a6;
font-size: 12px;
font-weight: 600;
margin-top:10px;
}









/* product-list시작 */

/* 추천순,상품순 시작 */

.ranking{
  display:flex;
  justify-content: space-between;
 margin-bottom:0px;
padding: 0;
align-items: center;

}

.ranking span{
  font-size: 14px;
  font-weight: 600;
  color: rgb(51, 51, 51);
line-height:20px;
}

.before{
  display:flex;
  flex-flow: row nowrap;
  padding : 10px 0 10px 10px;
  color : #999999;
  font-size: 14px;
  font-weight: 600;
  /* background:orange; */
  text-align:right;
  position:relative;
}



.before li::after{
  content: "|";
  float: right;
  display: block;
}

.before li:last-child a{
  padding-right:0;

}

.before li:last-child::after{
  content: "";
 
}

.before a{
  padding : 0 8px;
}

.before li:first-child a{
padding-top : 0;
/* background:pink; */
margin-top:0;
}

.before .qmark{
  background: url("../../assets/mainImg/qmark.png") no-repeat;
  padding-right: 23px;
}

.clicked {
    color: black;
  }

.hiddenbox{
visibility: hidden;
    position: absolute;
    top: 36px;
    left: -6px;
    z-index: 20;
    max-width: 272px;
    padding: 14px;
    border: 1px solid rgb(51, 51, 51);
    border-radius: 3px;
    background: rgb(255, 255, 255);
    color: rgb(102, 102, 102);
    font-size: 11px;
    line-height: 16px;
    letter-spacing: 0px;
    text-align: left;
}

.hidden:hover .hiddenbox{
  visibility: visible;
}

/* 추천,상품순 끝 */



/* products 시작 */

.products {
    position: relative;
    padding: 20px 0;
}

.products .swiper{
    /* background-color: greenyellow; */
    height: 538px;

}




.noodle {
    /*width:249px;*/
    height: 320px;
    position: relative;
    overflow: hidden;
}

.noodle img:hover {
    transform: scale(1.1);
    transition: 0.5s;

}

input.img-button {
    background: url("../../assets/mainImg/cart.png") no-repeat;
    border: none;
    width: 45px;
    height: 45px;
    cursor: pointer;
    position: absolute;
    bottom: 15px;
    right: 15px;
}


.price {
    width: 239px;
    height: 80px;
    font-family: 'Pretendard';
    padding: 14px 10px 0 0;
}

.price .list-main-delivery{
  color: #898989;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 8px;
}

.price h3 {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: #333333;
    margin-bottom: 8px;
    margin-top: 0px;
}

.price span {
    width: 84px;
    height: 32px;
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 600;
    font-size: 21.328px;
    line-height: 150%;
    color: #333333;
}


.price .discount {
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 600;
    font-size: 21.328px;
    line-height: 150%;
    color: #FA622F;
    margin-right: 7px;
}

.price .cost {
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 400;
    font-size: 12.003px;
    line-height: 160%;
    color: #898989;
    text-decoration: line-through;
}


.price .list-main-details{
  font-size:12px;
  color:#898989;
  font-weight: 400;
  margin-bottom : 8px;
  margin-top : 8px;
}

.list-main-gray .only,
.list-main-gray .limited{
 font-weight: 600;
 font-size:12px;
 color : #5F0080;
 padding : 4px 8px;
 background: #E1E1E1;
 border-radius: 4px;
}

.list-main-gray .limited{
  color : #333333;}


input.nextbtn {
    background: url("../../assets/mainImg/nextbtn.png") no-repeat;
    border: none;
    width: 55px;
    height: 55px;
    cursor: pointer;
    position: absolute;
    top: 40%;
    right: -27.5px;
}




div.nextbtn {
    background: url("../../assets/mainImg/nextbtn.png") no-repeat;
    border: none;
    width: 55px;
    height: 55px;
    cursor: pointer;
    position: absolute;
    top: calc(50% - 27px);
    right: -24.5px;
    z-index: 10;
}

.line-banner {
    padding: 40px 0px;
}

#prevbtn, #prevbtn1{
    background: url("../../assets/mainImg/nextbtn.png") no-repeat; 
    width: 55px;
    height: 55px;
    transform: rotate(180deg);
    transform: translateX();
    cursor: pointer;
    position: absolute;
    top: calc(50% - 27px);
  left: -24.5px;
    z-index: 10;
}

#prevbtn::after,
#prevbtn1::after{
    display : none;
}

.swiper1, .swiper{
  overflow: hidden;
  height:425px;
}

/* products 끝 */





/* 장바구니 팝업창 */

.pop_wrap {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    text-align: center;
    margin: 0;
    padding: 0;
z-index:10;
}

.pop_wrap::after {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    content: '';
}


.pop_wrap .pop_inner {
    display: inline-block;
    vertical-align: middle;

}

.addtocart {
    font-family: 'Pretendard';
    font-style: normal;
    display: flex;
    flex-direction: column;

    padding: 24px 20px;
    /* gap: 28px; */

    position: relative;
    width: 396px;
    height: 292px;

    /* white */

    background: #FFFFFF;
    /* Below/Medium */

    box-shadow: 0px 8px 36px rgba(0, 0, 0, 0.2);
    border-radius: 16px;
    margin: 0 auto;
    font-size: 16px;
    font-weight: 600;

}


.addtocart .cartnoodle {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 16px;
    text-align: left;
}

.amount {
    border: 2px solid rgb(221, 221, 221);
    width: 101px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.quantity {
    display: flex;
    justify-content: space-between;

}

.amount {
    position: relative;
}

.minusbtn {
    background: url("../../assets/mainImg/minus.png") no-repeat;
    cursor: pointer;
    border: none;
    position: absolute;
    left: 10%;
    top: 47%;


}

.plusbtn {
    background: url("../../assets/mainImg/plus.png") no-repeat;
    cursor: pointer;
    border: none;
    position: absolute;
    right: 10%;
    top: 33%;
}

.totalPrice {
    display: flex;
    justify-content: space-between;
    width: auto;
    height: 5px;
    margin-top: 28px;
}

.sum {
    font-size: 28.43px;
    font-weight: 700;

}

.reward {
    text-align: right;
    margin-top: 38px;
}

.rewardbtn {
    padding: 2px 8px;
    margin-right: 10px;
    width: 37px;
    height: 18px;
    background: #FA622F;
    border-radius: 1px;
    color: white;
    font-size: 12px;
}

.addbtn {
    display: flex;
    justify-content: space-between;
    height: 5px;
    width: auto;
    margin-top: 35px;
}


.cancel {
    width: 174px;
    height: 54px;
    color: black;
    background: #FFFFFF;
    border-radius: 4px;
    border: 2px solid #A6A6A6;
}


.purple {
    width: 174px;
    height: 54px;
    color: white;
    background: #5F0080;
    border-radius: 4px;
    border: #5F0080
}
/* 장바구니 끝 */






/* 페이지 이동 버튼 */

.redirect{
    display:flex;
    justify-content: center;
    align-items: center;
}

.redirect a{
width:34px;
height:34px;
border : 1px solid rgb(221, 221, 221);
border-left:none;
display: flex;
justify-content: center;
align-items: center;
font-size:12px;
font-weight: 400;
}

.redirect a:first-child{
    border-left: 1px solid rgb(221, 221, 221);
}



/* 끝 */






/* 푸터d. */
.footer {

    height: 629px;
    background: beige;
}
