.product-detail{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding: 4px 4px 96px;
  gap: 4px;

  /* width: 1920px; */
  height: 6852px;
  order: 2;
  flex-grow: 0;
}

.detail{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0px;
  gap: 85px;

  width: 1050px;
  height: 1021px;
}

.detail-info{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0px;
  gap: 85px;
  width: 1050px;
  height: 1021px;
  background-color: ivory;
}

.prodcut-img{
  width: 400px;
  height: 514px;
  
}

.product-info{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  width: 560px;
  height: 1021px;
  background-color: salmon;
  order: 1;
}

.product-info-heading{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 0px 20px;
  gap: 16px;
  width: 296px;
  height: 238px;
  order : 0;
  background-color: lightcyan;
}

.product-heading__delivery{
  width: 74px;
  height: 30px;

  font-style: normal;
  font-weight: 700;
  font-size: 21.328px;
  line-height: 140%;
  color: var(--gray-500);
  background-color: lightpink;
}

.product-heading__name{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 4px;
  order :1;
  width: 296px;
  height: 73px;
  font-weight: 600;
  font-size: 28.43px;
  line-height: 150%;
}

.product-heading__name h1{
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color : var(--gray-500);
}

.product-heading__description{

}