

/* 제목과 가격 */
.product-detail{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding: 4px 4px 96px;
  gap: 4px;

  /* width: 1920px; */
  height: 6852px;
  order: 2;
  flex-grow: 0;
}

.detail{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0px;
  gap: 85px;
  width: 1050px;
  height: 1021px;
}

.detail-info{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0px;
  gap: 85px;
  width: 1050px;
  height: 1021px;
  margin :0 auto;
  padding: 40px 0px 0px;

}

.prodcut-img{
  width: 400px;
  height: 514px;
  
}

.product-info{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  width: 560px;
 height: 989px;
  order: 1;
}

.product-info-heading{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 0px 20px;
  gap: 16px;
  width: 296px;
  height: 238px;
  flex:none;
}

.product-heading__delivery{
  height: 30px;
  order: 0;
  font-weight: 700;
  font-size: 21.328px;
  line-height: 140%;
  color: var(--gray-500);
}

.product-heading__name{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 4px;
  order :1;
  width: 296px;
  height: 73px;
  font-weight: 600;
  font-size: 28.43px;
  line-height: 150%;
}


.product-heading__title{
  display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 4px;

width: 296px;
height: 73px;
}
.product-title-name{
  font-weight: 600;
font-size: 28.43px;
line-height: 150%;
color: var(--content);
}

.product-title-description{
  font-weight: 400;
font-size: 16px;
line-height: 160%;
color: var(--gray-400);
order: 1;
flex: none;
}

.product-heading__price{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 0px;
  gap: 4px;
  width: 98px;
  height: 43px;
  flex: none;
  order: 2;
  font-weight: 700;
font-size: 16px;
line-height: 140%;
}

.product-price{
  width: 80px;
  height: 43px;
  font-weight: 600;
  font-size: 28.43px;
  line-height: 150%;
  color: #333333;
  flex: none;
}

.product-heading__login{
  height: 24px;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%; 
  color: var(--primary);
  flex: none;
  order: 3;
  flex-grow: 0;
}


/* 우측 중앙 정보 테이블  */

.product-more{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 560px;
  height: 480px;
  flex: none;
  order: 1;
  align-self: stretch;
}

.product-more-set{
  margin-top:-1px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 16px 0px;
  font-weight: 600;
  font-size: 12.003px;
  line-height: 150%;
  color: var(--gray-400);
  width: 560px;
  border-width: 1px 0px;
  border-style: solid;
  border-color: var(--gray-100);
  min-height: 58px;
  /* max-height: 90px; */
}

.more__title{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: var(--gray-500);
  padding: 0px;
  width: 128px;
  height: 26px;
}

.more__info{
  display: inline;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  width: 100%;
  
}
.more__info__kindOf{
  height: 18px;
  color: var(--gray-500);
}

/* .more__info__contents{

} */

.multi{
  top: 1px;
  /* display: inline; */
}

.more__info-select{
  width: 432px;
  height: 84px;
}

.buy{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;

  width: 560px;
  height: 303px;
}

.select{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 16px 0px;
  width: 560px;
  height: 116px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.more__title{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;

  width: 128px;
  height: 26px;
}

.more__info{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 4px;
  width: 432px;
  height: 84px;

}

.more__info-selectWrapper{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  isolation: isolate;
  width: 432px;
  height: 84px;
  border: 1px solid var(--gray-100);
  flex: none;
  align-self: stretch;
  position :relative;
}

.selectWrapper-left{
  display: flex;
flex-direction: column;
align-items: flex-start;
padding: 12px 16px;
gap: 12px;

width: 157px;
height: 84px;
}

.select-price{
  position: absolute;
  width: 44px;
  height: 18px;
  right: 12px;
  bottom: 12px;
  color: var(--content);
  z-index: 1;
  order: 1;
  width: 46px;

  flex-grow: 1;
}

.select-total{
  color: var(--common);
}

.select-addCart{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 12px;

  width: 560px;
  height: 56px;
  flex: none;
  order: 2;
  flex-grow: 0;
}

.addCart__left{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 12px;
  width: 124px;
  height: 56px;
}


.addCart__left-heart{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 4px;
  gap: 4px;
  width: 56px;
  height: 56px;
  border: 1px solid var(--gray-100);
  border-radius: 4px;

}

.addCart__left-bell{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 4px;
  gap: 4px;
  width: 56px;
  height: 56px;
  border: 1px solid var(--gray-100);
  border-radius: 4px;
}

.select-addCart-button{
  display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;

width: 424px;
height: 54px;

background: var(--primary);
border-radius: 4px;

flex: none;
order: 1;
flex-grow: 1;
}
