@import url(.././reset.css);
@import url(.././nomalize.css);
@import url(.././base.css);
@import url(.././a11y.css);
@import url(../base/root.css);

/* 공통 */
.common {
  width: 1050px;
  margin: 0 auto;
}

/* 헤더 */
.header {
  height: 125px;
  background: Pink;
}

/* 네비게이션 */
.navigation {
  background: DeepSkyBlue;
  height: 72px;
}

/* 메인 */
.main {
  min-width: 1050px;
  margin-top: 50px;
  margin-bottom: 60px;
  background-color: rgb(255, 255, 255);
}

/* 회원가입 */

form {
  width: 640px;
  margin: 0px auto;
}

/*  register 공통 */

input:focus {
  outline: 1px solid black;
}

.disabled__button:disabled {
  border-color: var(--gray-100);
  color: var(--gray-100);
}

.register__title {
  margin-top: 80px;
  margin-bottom: 50px;
  font-size: 28px;
  line-height: 35px;
  font-weight: 500;
  text-align: center;
  letter-spacing: -1px;
  color: rgb(51, 51, 51);
}

.register--required__text {
  padding-bottom: 10px;
  border-bottom: 2px solid rgb(51, 51, 51);
  font-size: 12px;
  color: rgb(102, 102, 102);
  line-height: 17px;
  text-align: right;
}

.register__list {
  display: inline-flex;
  width: 640px;
  padding: 10px 20px;
}

.register__input {
  width: 333px;
  height: 44px;
  padding: 0px 15px;
  border: 1px solid rgb(204, 204, 204);
  border-radius: 3px;
}

.register__label {
  font-weight: 500;
  color: rgb(51, 51, 51);
  line-height: var(--spacing-md);
  width: 139px;
  padding-top: var(--spacing-sm);
}

.empty-box {
  width: 120px;
  margin-left: var(--spacing-xs);
}

/* 주소 */

.register__button,
.address__button {
  width: 120px;
  height: 44px;
  background: transparent;
  color: var(--primary);
  border: 1px solid var(--primary);
  margin-left: var(--spacing-xs);
  border-radius: 4px;
  cursor: pointer;
  font-size: var(--text-sm);
  font-weight: 600;
}

.address__button {
  margin: 0;
  width: 333px;
  height: 44px;
}

.address__button img {
  display: inline-block;
  width: var(--spacing-md);
  height: var(--spacing-md);
  margin-right: 4px;
  vertical-align: middle;
}

.address__notice {
  font-size: 12px;
}

/* 성별 */
.register__gender {
  width: 333px;
  margin-left: 7rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

[type="radio"] {
  vertical-align: middle;
  appearance: none;
  border: max(2px, 0.1em) solid gray;
  border-radius: 50%;
  width: var(--spacing-lg);
  height: var(--spacing-lg);
  transition: border 0.5s ease-in-out;
}

input[type="radio"] {
  appearance: none;
  font: inherit;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid var(--gray-200);
  display: grid;
  place-content: center;
}

input[type="radio"]::before {
  content: "";
  width: var(--spacing-sm);
  height: var(--spacing-sm);
  border-radius: 50%;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset var(--spacing-sm) var(--spacing-sm) var(--primary);
}

input[type="radio"]:checked::before {
  transform: scale(1);
}

.add-event {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 333px;
  margin-left: 3.5rem;
}

/* 생년월일 */
.register__birth-wrapper {
  width: 333px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  border: 1px solid var(--gray-200);
  color: var(--gray-400);
}

.register__birth-wrapper > input {
  height: 44px;
  display: flex;
  align-items: center;
  width: 100%;
  border-radius: 3px;
  padding: 0px 15px;
  border: none;
  text-align: center;
}

.birth__dash::after {
  content: "/";
  font-size: 14px;
  color: rgb(204, 204, 204);
  text-align: center;
  line-height: 40px;
}

/* 필요사항 특수문자 */
.star {
  color: #f03f40;
}

.user__option input {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.border-bottom {
  padding: 10px 0px;
  border-bottom: 1px solid rgb(51, 51, 51);
}

/* 이용약관 동의 */
.agreement > p {
  font-weight: 600;
}

.agreement-condition > a {
  color: rgb(95, 0, 128);
  outline-offset: 5px;
}

.agreement-condition {
  width: 480px;
  margin: 0;
  display: flex;
  padding: 8px 0px;
  justify-content: space-between;
  align-items: center;
}

.agreement-condition > a::after {
  content: "";
  display: inline-block;
  margin-left: 4px;
  width: 6px;
  height: 9px;
  background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI2IiBoZWlnaHQ9IjExIiB2aWV3Qm94PSIwIDAgNiAxMSI+CiAgICA8cGF0aCBmaWxsPSIjNUYwMDgwIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0xIDExTDYgNS41IDEgMCAwIDEuMSA0IDUuNSAwIDkuOXoiLz4KPC9zdmc+Cg==)
    50% 50% / 6px 9px no-repeat;
}

.agreement__list {
  display: flex;
  justify-content: space-between;
  padding: 8px 0px;
}

.agreement-all {
  align-items: flex-start;
  flex-direction: column;
  padding-top: 12px;
}

.agreement-all > label {
  color: var(--content);
  font-weight: 700;
  font-size: 18px;
}

.agreement-all > p {
  font-size: 12px;
  color: var(--content);
  padding-left: 2rem;
}

.agreement-control {
  line-height: 1.1;
  display: grid;
  grid-template-columns: var(--spacing-sm) auto;
  gap: var(--spacing-md);
}

/* 체크박스 custom */

input[type="checkbox"] {
  appearance: none;

  margin: 0;

  width: 24px;
  height: 24px;
  border: 1px solid var(--gray-200);
  border-radius: 100%;
  transform: translateY(-0.2rem);

  display: grid;
  place-content: center;
}

input[type="checkbox"]::before {
  content: "";
  width: 12px;
  height: 12px;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  transform: scale(0);
  transform-origin: bottom left;
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1rem 1rem var(--primary);
  /* background-color: var(--primary); */
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
}

/* 가입하기 버튼 */
.sign-button {
  width: 240px;
  height: 56px;
  display: block;
  font-size: var(--text-base);
  margin: 40px auto;
  color: var(--white);
  background-color: var(--primary);
}

/* 에러 메세지*/
.display-error {
  display: flex;
  flex-flow: column;
}

.error,
.password,
.passwordCheck,
.name,
.number,
.email,
.tel {
  font-size: var(--text-xs);
  color: var(--info-error);
  font-weight: 500;
}

/* 푸터 */
.footer {
  height: 629px;
  background: beige;
}
